extends layout

<<<<<<< 3ab258388425423497b5079844b8e730323d9ff0
block content
  h1= title
  p Welcome to #{title}
=======
block hero-unit
  .jumbotron
    .container
      h1 웹프로그래밍 설문조사 프로젝트

block content
  .container
    .row
      .col-md-6
        h3 게시판형 설문조사 사이트
        p 설문 주제를 게시글 형식으로 올린뒤 댓글로 답변을 하는 방식입니다.
      .col-md-6
        h3 주요 기능
        ul
          li 사용자 관리
          li 설문 주제 올리기
          li 회원 로그인(facebook로그인 가능)
          li 회원목록 확인
  
>>>>>>> initial commit
